/* Navbar */

.navbar-brand {
    margin-right: 50px;
}

.navbar-padding {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

/* Grid Code Below (Make a template with CSS above later) */
/* Grid */
.grid {
    width: 1600px;
    height: 800px;
    margin: 30px auto 0;
}

.node {
    outline: 1px solid #555;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.wall {
    background-color: black;
}

.start-node {
    background-color: rgb(102, 255, 166);
}

.end-node {
    background-color: red;
}

/* Grid Size Selector */
.grid-size-selector {
    margin: 10px auto;
    width: 500px;
}