/* Navbar */

.navbar-brand {
    margin-right: 50px;
}

.navbar-padding {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.navbar-buttons {
    margin-right: 15px;
}

.random-maze-settings-icon {
    width: 20;
    height: 20;
    margin: auto 0;
}

.colour-picking-node {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.colour-section {
    margin: 10px auto 0px;
    padding-left: 10px;
}

.colour-section-label {
    margin: auto 2vw;
}

/* Grid Code Below (Make a template with CSS above later) */
/* Grid */
.grid {
    width: 1600px;
    height: 800px;
    margin: 30px auto 0;
}

.node {
    outline: 1px solid #555;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Grid Size Selector */
.grid-size-selector {
    margin: 10px auto;
    width: 500px;
}

/* Toasts */
.toast-container {
    position: absolute;
    bottom: 10;
    left: 10;
}


