/* Intro Off Canvas */

.introOffCanvas {
    height: 100%;
    width: 100%;
    background-image: url("../images/intro-offcanvas-background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
}

.intro-offcanvas-header {
    display: flex;
    margin: 44vh auto;
}

.intro-description {
    position: absolute;
    top: 50vh;
    left: 48vw;
}

.intro-button {
    position: absolute;
    top: 80vh;
    left: 49vw;
}

.intro-chevron {
    width: 20px;
    height: 20px;
    fill: white;
}

/* Off Canvas */

.offcanvas-description {
    margin-top: 20px;
}

/* Navbar */

.navbar-brand {
    margin-right: 50px;
}

.navbar-padding {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
}

.navbar-buttons {
    margin-right: 15px;
}

.random-maze-settings-icon {
    width: 20;
    height: 20;
    margin: auto 0;
}

.colour-picking-node {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.colour-section {
    margin: 10px auto 0px;
    padding-left: 10px;
}

.colour-section-label {
    margin: auto 2vw;
}

/* Buttons */

.help-icon {
    width: 50px;
    height: 50px;
}

/* Grid Code Below (Make a template with CSS above later) */
/* Grid */
.grid {
    width: 1600px;
    height: 800px;
    margin: 30px auto 0;
}

.node {
    outline: 1px solid #555;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/* Grid Size Selector */
.grid-size-selector {
    margin: 10px auto;
    width: 500px;
}

/* Toasts */
.toast-container {
    position: absolute;
    bottom: 10;
    left: 10;
}


